@model guestNetwork.Models.FilterAdvertisementViewModel

@{
    ViewBag.Title = "All Homes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Home</h2>

@using (@Ajax.BeginForm("ViewAdvertisementsList", "Advertisement", new AjaxOptions { UpdateTargetId = "filterForm" }))
{
    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Type, new SelectList(Enum.GetValues(typeof(guestNetwork.Models.Type))))
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
    </div>
}

<div id="filterForm">
    @Html.Action("ViewAdvertisementsList")
</div>
