body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.siteContent {
    width: 1170px;
    margin: 0 auto;
}

.banner {
    background-image: url(../Content/startImage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 560px;
}

.title{
    background-color:skyblue;
    padding: 20px 0;
    text-align:center;
}

.mainAdvertisementsImage{
    width: 300px;
}

textarea .form-control .advertisementsContent{
    height: 300px;
}

.pagedList{
    text-align: center;
}

.filterForm{
    margin: 40px 0;
}

.filterFormItem{
    display: inline-block;
    margin: 0 15px;
}

.filterFormLabel{
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.filterFormControl{
    display: inline-block;
}
