@model guestNetwork.Models.ResponseCreateViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
    <body>
        <div>
            <h4>Response</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Message)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Message)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
            </dl>
        </div>
</body>
</html>


