@model guestNetwork.ViewModels.ResponseViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this response?</h3>
    <div>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> 
                @Html.ActionLink("Cancel", "BackTo", "Advertisement", 
                    new { backUrl = ViewBag.backUrl} , new {@class = "link-button"})
            </div>
        }
    </div>
</body>
</html>
